.loader {
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.3);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3000;
}

.loader > div {
  position: fixed;
  top: 50vh;
  left: 50vw;
  z-index: 3001;
}